.admingallery{
    position:absolute;
    top: 25vh
    
}

.artworkdisplay {
    position: relative;
    top: 1vh;
    
}

.gallerydisplay {
    
    height: 200vh;
}
.approveEditButton{
    top: -50vh;
}
