
.navdiv{
    width: 100vw;
    position: fixed;
    z-index: 5;
    margin: 0;
    top: 0%
}


.navbuttons {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    background-image: linear-gradient(black, white);
    height: 18vh;

}

.navbuttons button{
    
	justify-content: space-around;
	
}

.navbuttons img{
    height: 18vh;
    width: 13vw;
    position: absolute;
    left: 10vw;
    top: 0vh;
    
}

