
.navdiv{
    width: 100vw;
    position: fixed;
    z-index: 5;
    margin: 0;
    top: 0%
}


.navbuttons {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    background-image: linear-gradient(black, white);
    height: 18vh;

}

.navbuttons button{
    padding: 10px;
    justify-content: space-around;
    color: black;
    background-image: linear-gradient(black,white);
    border: 2px solid gray;
    border-radius: 6px; 

	
}
.navbuttons button:hover{
    background-image: linear-gradient(white, black);
      color: white;
}

.navbuttons img{
    height: 18vh;
    width: 10vw;
    position: absolute;
    left: 10vw;
    top: 0vh;
    
}

