body{
    background-image: linear-gradient(white, black)
}

.Dustinbio {
    height: 25vh;
    position: relative;
    top: 30vh;
}

.Dustinbio p{
    text-align: left;
    width: 35vw;
    
}

.teamp {
    top: 10vh;
    width: 35vw;
    align-content: center;
    text-align: left;
    justify-content: center;
    
}

.seperateteam {
    width: 90vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-between;
    
	align-items: center;
    align-content: center;
    padding:10px;

}

.teamp p {
    top: 25vh;
}


.TeamPage {
    position: relative;
    top: 30vh;
    height: 150vh;
}